
th, td 
{
  padding: 25px;
  border: 1px solid white;
  text-align: left; 
      
}

table { 
  width: 100%; 
  border-collapse: collapse; 
}

tr:nth-of-type(odd) { 
  background: #eee; 
}

th { 
  background: #404040; 
  color: white; 
  font-weight: bold; 
}

.nom
{
	background-color:  	#A9A9A9;
}

.transparent 
{
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  color: white;
}